<!DOCTYPE html>
<html>
  <head>
    <title>movies db</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Peliculas online</h1>
    <h2>
    <a href="/movies">Ver listado de peliculas</a>
  </h2>
  </body>
</html>
